/* h #262729 n #1b1b1b */

header, nav {
  background-color: #1b1b1b;
  width: 100%;
  height: 50px;

  position: fixed;
  top: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  z-index: 10;
}

header h1 {
  margin: 0px 10px;
  width: fit-content;

  line-height: 50px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: gold;
  text-transform: uppercase;
}

.header-right {
  list-style: none;
  width: fit-content;
  height: 100%;

  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 06%;
  gap: 8px;
}

.icon-link {
  padding: 6px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}

ion-icon {
  font-size: 26px;
}
ion-icon:hover, ion-icon:focus, ion-icon:active {
  color: rgb(14, 218, 207);
  color: var(--c);
}

/* nav */
nav {
  background-color: #000000;
  top: 50px;

  height: 40px;
  padding: 0px 20px;

  z-index: 9;
}
.nav-buttons-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-link {
  padding: 6px 14px;
  background: none;
  /* border-radius: 4px; */
}
.button-link:hover, .button-link:active {
  background-color: #ffffff;
  color: #000000;
}
:root {
  --clr: #262729
}
.button-link.active {
  padding: 12px 14px 12px 14px;
  background-color:#ffffff;
  color: #000000;
  font-weight: bold;
}

/* .button-link.active::before {
  content: '';
  display: inline-flex;
  position: relative;
  top: -10px;
  left: -26px;
  width: 16px;
  height: 16px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
  z-index: -2;
}
.button-link.active::after {
  content: '';
  display: inline-flex;
  position: relative;
  top: -10px;
  right: -26px;
  width: 16px;
  height: 16px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
  z-index: -2;
} */